<header>
    <nav class='navbar navbar-expand-lg'>
        <div class='container'>

            <a class='navbar-brand logo-size' href='/'><img
                    src='/images/mybooks.png'
                    alt='logo'
                />myBooks</a>
            <button
                class='navbar-toggler'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#navbarSupportedContent'
                aria-controls='navbarSupportedContent'
                aria-expanded='false'
                aria-label='Toggle navigation'
            >
                <span class='navbar-toggler-icon'></span>
            </button>
            <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                    <li class='nav-item'>
                        <a
                            class='nav-link {{#if homeActive}}active{{/if}}'
                            aria-current='page'
                            href='/'
                        >ΑΡΧΙΚΗ</a>
                    </li>
                    <li class='nav-item'>
                        <a
                            class='nav-link {{#if bookListActive}}active{{/if}}'
                            aria-current='page'
                            href='/books'
                        >ΒΙΒΛΙΑ</a>
                    </li>
                    <li class='nav-item'>
                        <a
                            class='nav-link {{#if addFormActive}}active{{/if}}'
                            aria-current='page'
                            href='/addbookform'
                        >ΠΡΟΣΘΗΚΗ</a>
                    </li>
                </ul>
                <div class="d-flex nav-log">
                    {{#unless username}}
                        {{!-- <li class='nav-item me-2'> --}}
                            {{#unless loginActive}}
                            <a
                                class='btn btn-login border border-secondary {{#if loginActive}}active{{/if}} me-2'
                                aria-current='page'
                                href='/login'
                            >LOGIN</a>
                            {{/unless}}
                            <a
                                class='btn btn-register border border-secondary {{#if registerActive}}active{{/if}} me-2'
                                aria-current='page'
                                href='/register'
                            >SIGNUP</a>
                        {{!-- </li> --}}
                    {{/unless}}
                    {{#if username}}
                        {{!-- <li class='nav-item me-2'> --}}
                            <a
                                class='btn btn-logout border border-secondary me-2'
                                aria-current='page'
                                href='/logout'
                            >LOGOUT</a>
                        {{!-- </li> --}}
                    {{/if}}
                    </div>
            </div>
        </div>
    </nav>
    {{#if username}}
        <div id='user-greeting'>
            <div class='container'>
                <p>

                    Καλωσήλθες
                    <span class='username'>{{username}}</span>

                </p>
            </div>
        </div>
    {{/if}}
</header>