<div id='{{mainId}}'>
    <div class='container'>
        <h2 class='mt-3'>Σφάλμα</h2>
        <div class='alert alert-primary' role='alert'>
            <div class='mb-3'>
                ΠΡΟΣΟΧΗ!
                {{message}}
            </div>
            <div class='mb-3'>Αν δεν έχετε λογαριασμό, παρακαλώ πατήστε τον
                παρακάτω σύνδεσμο για να δημιουργήσετε έναν καινούργιο.<br />
                <a href='/register'>Δημιουργία καινούργιου λογαριασμού</a>
            </div>
            <div class='mb-3'>Αν έχετε ήδη εγγραφεί, πατήστε τον παρακάτω
                σύνδεσμο για να εισέρθετε στην εφαρμογή.<br />
                <a href='/login'>Είσοδος</a>
            </div>
        </div>
    </div>
</div>